.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: var(--inputs);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background: var(--badges);
  mix-blend-mode: multiply;
  border-radius: 100px;
  font-size: 16px;
  color: var(--main);
}

.featureIcon {
  flex-shrink: 0;
  color: var(--main);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailsTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.detailLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
}

.detailValue {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
}
